<nav class="navbar navbar-expand-lg navbar-dark bg-dark vh-10 px-5">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
      <a class="navbar-brand" href="#">
          <img [src]="'assets/img/logo.png'" alt="Logo CJava">
      </a>
      <!-- Utilizando flex-grow-1 para ocupar el espacio disponible -->
      <ul class="navbar-nav flex-grow-1"></ul>

      <!-- Logo a la derecha usando ml-auto -->
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" href="/module3/module1/component1">CERRAR SESIÓN</a>
          </li>
      </ul>
  </div>
</nav>

<div class="container mt-5">
 <h1 >Bienvenido..!</h1>
    <div class="row">
        <div class="col align-self-center">
          <div id="carouselExampleIndicators2" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img [src]="'assets/img/foto1.jpg'" class="d-block w-100" height="800px" alt="...">
                </div>
            
                <div class="carousel-item">
                  <img [src]="'assets/img/foto2.jpg'" class="d-block w-100" height="800px" alt="...">
                </div>

                <div class="carousel-item">
                    <img [src]="'assets/img/foto3.jpg'" class="d-block w-100" height="800px" alt="...">
                  </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
        </div>
    </div>

    <div class="row mt-5 bg-light">
      <div class="col-6 p-5">
          <img [src]="'assets/img/foto2.jpg'" class="d-block w-100 my-custom-img" alt="...">
      </div>
      <div class="col-6 d-flex align-items-center p-5">
          <!-- Utiliza la clase "d-flex" para habilitar la alineación vertical y "align-items-center" para centrar verticalmente el contenido -->
          <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nibh. Mauris ac mauris sed pede pellentesque fermentum. Maecenas adipiscing ante non diam sodales hendrerit.
          </p>
      </div>
  </div>


</div>

<footer class="mt-5 p-4 text-white text-center bg-dark" >
    <p class="align-middle">Desarrollado por: Miguel Angel Lescano Avalos</p>
</footer>


