
<!-- 
<form (ngSubmit)="login()">
    <input type="text" [(ngModel)]="user.username" name="username" placeholder="Usuario">
    <input type="password" [(ngModel)]="user.password" name="password" placeholder="Contraseña">
    <button type="submit">Iniciar sesión</button>
</form>
  login.component.html -->

  


  <div class="container">   
 <!--form-->
 <div class="login">
  <div class="login__card">
    <form (ngSubmit)="login()">
      <div class="text-center mb-4"> <!-- Clase de Bootstrap para centrar -->
        <img src="assets/img/logo.png" alt="Logo CJava" class="logo-above-textbox" style="width: 100px; height: 100px;"> <!-- Estilos inline para hacerlo más grande -->
      </div>
     
        
        <div class="login__card__text-box login__card__text-box--username login__card__text-box--margin-bottom">
          
          <mat-icon class="login__card__text-box__icon login__card__text-box__icon--color">account_circle</mat-icon>
          
          <input type="text" [(ngModel)]="user.username" name="username" placeholder="Usuario">
        </div>
      
        <div class="login__card__text-box login__card__text-box--password login__card__text-box--margin-bottom">
          
          <mat-icon class="login__card__text-box__icon">lock</mat-icon>
          
          <input type="password" [(ngModel)]="user.password" name="password" placeholder="Contraseña">
          <mat-icon class="login__card__text-box__icon">visibility_off</mat-icon>
        </div>
    

      <div class="login__card__button">
        <button type="submit" class="login__card__button--into login__card__button--margin-bottom login__card__button--into__text">Iniciar sesión</button>
    
      </div>
      

        
      
    </form>

    <div *ngIf="areCredentialsValid; else incorrectCredentials">
      <!-- Mostrar mensaje de bienvenida o redirigir a otro componente con un mensaje de bienvenida -->

    </div>
    
    <ng-template #incorrectCredentials>
      <p>
        usuario:admin
       <br> password:admin
      </p>
    </ng-template>

</div>
</div>
<!--**************************-->





  </div>
